@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: 'AnekMalayalam';
  src: url('/fonts/malayalam/AnekMalayalam-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Karumbi';
  src: url('/fonts/malayalam/Karumbi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Keraleeyam';
  src: url('/fonts/malayalam/Keraleeyam-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSansMalayalam';
  src: url('/fonts/malayalam/NotoSansMalayalam-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSerifMalayalam';
  src: url('/fonts/malayalam/NotoSerifMalayalam-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Rachana';
  src: url('/fonts/malayalam/Rachana-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Rachana';
  src: url('/fonts/malayalam/Rachana-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'SindulekhaUniB';
  src: url('/fonts/malayalam/SindulekhaUniB.woff2') format('truetype');
}
@font-face {
  font-family: 'ManchariUniN';
  src: url('/fonts/malayalam/ManchariUniN.woff2') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/english/roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  src: url('/fonts/english/roboto/Roboto-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/english/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/english/roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/english/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/english/roboto/Roboto-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/english/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/english/roboto/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/english/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/english/roboto/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/english/roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/english/roboto/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Harlow Solid Italic';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/english/harlow/harlow-solid-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'AbrilFatface-Regular';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/english/Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
}